.botonco{
    height: 80px;
    z-index: 3;
    width: 40%;
    z-index: 0;
    margin: 30px auto;
    text-align: center;
}
.btn--container{
    display: flex;
    align-items: center;
    z-index: 1;
    flex-direction: row-reverse;
} 

.huella__btn{
    background-color: var(--blue-dark-color);
    border: 5px solid var(--blue-light);
    border-radius: 50%;
    height: 50px;
    display: flex;
    z-index: 3;
    margin-right:-30px;
    padding: 4px;
}
.la__a{
    z-index: 2;
}

.btn__pago{
    background-color: var(--blue-dark-color);
    border: 5px solid var(--blue-light);
    color: var(--white-color);
    font-family: var(--aleo-font);
    height: 50px;
    width: 100%;
    z-index: 2;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    text-align:center;
    border-radius:10px;
    padding-left: 20px;
}

.btn__pago_link{
    color: var(--white-color);
    font-family: var(--aleo-font);
    text-decoration: none;
    cursor: pointer;
}

.btn--container:hover .btn__pago, .btn--container:hover .huella__btn{
    background-color: var(--blue-medium-color);
}

.plan-l{
    color: var(--blue-dark-color);
    text-decoration: none;
    font-family:'Open Sans';
    z-index:1;
}

.plan-l:hover{
    text-decoration:underline;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .botonco{
        height: 80px;
        z-index: 3;
        width: 30%;
        z-index: 0;
        margin: 30px auto;
        text-align: center;
    }

    .btn__pago{
        font-size: 20px;
    }
}
